name: Deploy to Portainer

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Trigger Portainer Webhook
        env:
          WEBHOOK_URL: ${{ secrets.PORTAINER_WEBHOOK_URL }}
        run: |
          response=$(curl -k -s -o /dev/null -w "%{http_code}" -X POST "$WEBHOOK_URL")
          echo "Response code: $response"
          
          if [ "$response" -eq 200 ] || [ "$response" -eq 204 ]; then
            echo "deployment triggered successfully!"
          else
            echo "received response code: $response"
          fi
      
      - name: Deployment notification
        run: echo "portainer stack is being updated..."
